{% extends "base_generic.html" %}
{% load mathfilters %}
{% load humanize %}
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<link href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css" rel="stylesheet">

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h1">Welcome!</h1>
</div>
<h3></h3>
<p class="lead">NetMesh aims to monitor and measure network parameters
        of internet quality from the perspective of a customer.</p>
<p>The interactive map below tracks measurement reports across the country.
    Data is acquired from NTC regional units and citizen volunteers.</p>
<div id="map" class="map map-home" style="height: 500px; margin-top: 50px"></div>

{% block js %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>

{% load static %}
<link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}" />
<link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}" />
<script src="{% static 'js/leaflet.markercluster-src.js' %}"></script>

<script>


    var mapLat = 12.683;
    var mapLng = 121.729;
    var map = L.map('map').setView([mapLat, mapLng], 5);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    var markers = L.markerClusterGroup();

    {% for datapoint in datapoints %}
			var title = "Throughput: {{datapoint.ave_tcp_tput|stringformat:'0.2f'}} Mbps";
			title += "<br>RTT: {{datapoint.ave_rtt|stringformat:'0.2f'}} ms";
            title += '<br>ID: <a href="{% url 'test_detail' datapoint.test_id.id %}" title="{{datapoint.test_id.id}}">{{ datapoint.test_id.id|truncatechars:9 }}</a>';
			var marker = L.marker(new L.LatLng({{datapoint.test_id.lat|stringformat:'0.3f'}}, {{datapoint.test_id.long|stringformat:'0.3f'}}), { title: title });
			marker.bindPopup(title);
			markers.addLayer(marker);
    {% endfor %}

    map.addLayer(markers);

</script>

{% endblock %}

{% endblock %}