{% extends "base_generic.html" %}
{% load mathfilters %}
{% load humanize %}
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
    <h1>Test {{test.id}}</h1>
    <br>
    <div class="table-responsive">
        <table class="table-sm">
            <tr>
                <th>Performed by</th>
                <td>{{test.agent}} @ {{test.ip_address}}</td>
            </tr>
            <tr>
                <th>Test type</th>
                <td>{{test.test_type}}</td>
            </tr>
            <tr>
                <th>Mode</th>
                <td>{{test.mode}}</td>
            </tr>
            <tr>
                <th>Network Connection</th>
                <td>{{test.network_connection}}</td>
            </tr>
            <tr>
                <th>PCAP File</th>
                <td>{{test.pcap}}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{test.lat}} {{test.long}}</td>
            </tr>

        </table>
    </div>

    <br>
    <h2>Measurements:</h2>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
              <tr>
                <th>Date</th>
                <th>Server</th>
                <th>Direction</th>
                <th></th>
              </tr>

        {% for item in measurements.all %}
              <tr>
                <td>{{item.date_tested}}</td>
                <td>{{item.server.ip_address}} ({{item.server.type}})</td>
                <td>{{item.direction}}</td>
                <td><a href="{% url 'datapoint_detail' item.id %}"
                   title="View Measurements">View measurements</a></td>
              </tr>

        {% endfor %}


        </table>
    </div>

{% endblock %}