{% extends "base_generic.html" %}
{% load mathfilters %}
{% load humanize %}
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
    <h1>Results</h1>
    <p>Click the UUID to view test details and measurements.</p>

    <style>
    table, th, td {
      border: 1px solid black;
    }
    </style>

    <table style="width:100%">
          <tr>
            <th>Date</th>
            <th>Test ID</th>
            <th>Test Type</th>
            <th>Test Mode</th>
            <th>Network Connection</th>
            <th>Agent</th>
            <th>Location</th>
          </tr>

    {% for item in tests %}
          <tr>
            <td>{{item.date_created}}</td>
            <td><a href="{% url 'test_detail' item.id %}"
                   title="View Test Details">{{ item.id|truncatechars:9 }}</a></td>
            <td>{{item.test_type}}</td>
            <td>{{item.mode}}</td>
            <td>{{item.network_connection}}</td>
            <td>{{item.agent.nickname}}</td>
            <td>{{item.lat}}, {{item.long}}</td>
          </tr>

    {% endfor %}
    </table>


    <div class="pagination">
        <span class="step-links">
            {% if tests.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ tests.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ tests.number }} of {{ tests.paginator.num_pages }}.
            </span>

            {% if tests.has_next %}
                <a href="?page={{ tests.next_page_number }}">next</a>
                <a href="?page={{ tests.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}


