{% extends "base_generic.html" %}
{% load mathfilters %}
{% load humanize %}

{% load static %}

{% block content %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!--        <link rel="stylesheet" href="{% static 'css/zerogrid.css' %}">-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

        <div class="container">
			<div class="row">
				<div style="float:left; width:50%">
                    <h1>Netmesh Web Speedtest</h1>
                    <!-- Preload custom font here before use. This is a workaround. -->
                    <span style="font-family:M1m; color:#efefef">Connecting from {{client_ip}}</span>
                    <span style="font-family:MuseoSans_900-webfont">&nbsp</span>
                    <hr>

                    <div class="wrap-col">
                        <canvas id="dashboard" class="col-full" oncontextmenu="return false;" onselectstart="return false;">
                            Your browser does not appear to support HTML5.  Try upgrading your browser to the latest version.
                        </canvas>
                    </div>

                    <div id="footer">
                        &copy; Copyright 2019
                    </div>
                </div>

                <div style="padding:50px; float:left; width:50%">

                    <h5>About the test</h5>
                    <span style="font-family:M1m; color:#efefef">
                        This test measures the application-level throughput
                        (<a href="https://en.wikipedia.org/wiki/Goodput">aka goodput</a>)
                        between your computer and the selected test server.
                    </span>
                    <hr>
                    <h5>Disclaimer</h5>
                    <span style="font-family:M1m; color:#efefef">
                        By running this test, you agree to the <a href="#">NetMesh data policy</a>,
                        which includes retention and publication of IP addresses.
                    </span>
                </div>
            </div>
        </div><!-- END GRID -->
        <div class="clear"></div>
        <!-- script entry point -->

        <!-- retrieve list of servers -->
        <script>
            let MasterServerList = [
                {% for server in server_list %}
                      {nickname:'{{server.nickname}}', url:'{{server.hostname}}'},
                {% endfor %}
            ];
        </script>
        <script type="text/javascript" src="{% static 'scripts/lib/require.js' %}"></script>
        <script type="text/javascript">require(["{% static 'scripts/init.js' %}"])</script>

{% endblock %}
