{% extends "base_generic.html" %}
{% load mathfilters %}
{% load humanize %}

{% block content %}

    <h1>Servers</h1>
    <p>List of all test servers. </p>

    <style>
    table, th, td {
      border: 1px solid black;
    }
    </style>

    <table style="width:100%">
          <tr>
            <th>UUID</th>
            <th>Server Nickname</th>
            <th>IP Address</th>
            <th>Type</th>
            <th>Location</th>
          </tr>

    {% for server in servers %}
          <tr>
            <td>{{server.uuid}}</td>
            <td>{{server.nickname}}</td>
            <td>{{server.ip_address}}</td>
            <td>{{server.type}} </td>
            <td>{{server.lat}}, {{server.long}} </td>
          </tr>

    {% endfor %}
    </table>

   <div class="pagination">
        <span class="step-links">
            {% if servers.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ servers.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ servers.number }} of {{ servers.paginator.num_pages }}.
            </span>

            {% if servers.has_next %}
                <a href="?page={{ servers.next_page_number }}">next</a>
                <a href="?page={{ servers.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>



{% endblock %}