{% extends "base_generic.html" %}
{% load mathfilters %}
{% load humanize %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h1">Login</h1>

</div>

<form action="{% url 'auth-and-login' %}" method="POST" role="form"> {% csrf_token %}
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control form-control-sm" placeholder="Username" autofocus name="username" id="username"
               value=""/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control form-control-sm" placeholder="Password" autofocus name="password" id="password"
               value=""/>
    </div>
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" id='login-button' class="btn btn-sm btn-secondary btn-block">Sign in</button>
    {% for message in messages %}
    <br>
    <div class='alert alert-danger message'>{{ message }}</div>
    {% endfor %}
</form>

{% block js %}
<script>
  $(function() {
    // Fade out all messages after a delay.
    setTimeout(function() {
      $('.alert.message').fadeOut(500);
    }, 4000);
  });

</script>

{% endblock %}

{% endblock %}
